html {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

@media screen and (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
}
.detail-page-image-box {
    width: 3rem;
    height: 3rem;
    min-width: 3rem;
    min-height: 3rem;
}

.movie-detail-img {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 7;
}

.movie-detail-title {
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 1;
}

.movie-detail-score {
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 2;
}

.movie-detail-spec {
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 3;
    grid-row-end: 3;
}

.movie-detail-recommend-button {
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 6;
    grid-row-end: 6;
}

.movie-detail-overview {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 7;
    grid-row-end: 7;
}

.movie-detail-genres {
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 4;
    grid-row-end: 4;
}

.movie-detail-directedby {
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 5;
    grid-row-end: 5;
}

.movie-detail-cast {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 8;
    grid-row-end: 8;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}

@media screen and (min-width: 576px) {
    .grid-container {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
    }

        .grid-container > * {
            /*border: 1px solid white;*/
        }

    .detail-page-image-box {
        width: 3rem;
        height: 3rem;
    }

    .movie-detail-img {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 7;
    }

    .movie-detail-title {
        grid-column-start: 6;
        grid-column-end: 11;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    .movie-detail-score {
        grid-column-start: 11;
        grid-column-end: 13;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    .movie-detail-spec {
        grid-column-start: 6;
        grid-column-end: 13;
        grid-row-start: 2;
        grid-row-end: 2;
    }

    .movie-detail-recommend-button {
        grid-column-start: 7;
        grid-column-end: 13;
        grid-row-start: 6;
        grid-row-end: 6;
    }

    .movie-detail-overview {
        grid-column-start: 6;
        grid-column-end: 13;
        grid-row-start: 3;
        grid-row-end: 3;
    }

    .movie-detail-genres {
        grid-column-start: 6;
        grid-column-end: 13;
        grid-row-start: 4;
        grid-row-end: 4;
    }

    .movie-detail-directedby {
        grid-column-start: 6;
        grid-column-end: 13;
        grid-row-start: 5;
        grid-row-end: 5;
    }

    .movie-detail-cast {
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 7;
        grid-row-end: 8;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }
}

@media screen and (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
    }

    .grid-container > * {
        /*border: 1px solid white;*/
    }
    .detail-page-image-box {
        width: 3rem;
        height: 3rem;
    }

    .movie-detail-img {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 6;
    }

    .movie-detail-title {
        grid-column-start: 5;
        grid-column-end: 11;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    .movie-detail-score {
        grid-column-start: 11;
        grid-column-end: 13;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    .movie-detail-spec {
        grid-column-start: 5;
        grid-column-end: 10;
        grid-row-start: 2;
        grid-row-end: 2;
    }

    .movie-detail-recommend-button {
        grid-column-start: 5;
        grid-column-end: 10;
        grid-row-start: 6;
        grid-row-end: 6;
    }

    .movie-detail-overview {
        grid-column-start: 5;
        grid-column-end: 10;
        grid-row-start: 3;
        grid-row-end: 3;
    }

    .movie-detail-genres {
        grid-column-start: 5;
        grid-column-end: 10;
        grid-row-start: 4;
        grid-row-end: 4;
    }

    .movie-detail-directedby {
        grid-column-start: 5;
        grid-column-end: 10;
        grid-row-start: 5;
        grid-row-end: 5;
    }

    .movie-detail-cast {
        grid-column-start: 10;
        grid-column-end: 13;
        grid-row-start: 2;
        grid-row-end: 7;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        min-width: 200px;
    }
}

@media screen and (min-width: 992px) {
    .grid-container {
        max-width: 1000px;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
    }

    .grid-container > * {
        /*border: 1px solid white;*/
    }
    .detail-page-image-box {
        width: 4rem;
        height: 4rem;
    }

    .movie-detail-img {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 6;
        max-height: 5rem;
    }
    .movie-detail-title {
        grid-column-start: 5;
        grid-column-end: 11;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    .movie-detail-score {
        grid-column-start: 11;
        grid-column-end: 13;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    .movie-detail-spec {
        grid-column-start: 5;
        grid-column-end: 10;
        grid-row-start: 2;
        grid-row-end: 2;
    }

    .movie-detail-overview {
        grid-column-start: 5;
        grid-column-end: 10;
        grid-row-start: 3;
        grid-row-end: 3;
    }

    .movie-detail-genres {
        grid-column-start: 5;
        grid-column-end: 10;
        grid-row-start: 4;
        grid-row-end: 4;
    }

    .movie-detail-directedby {
        grid-column-start: 5;
        grid-column-end: 10;
        grid-row-start: 5;
        grid-row-end: 5;
    }

    .movie-detail-cast {
        grid-column-start: 10;
        grid-column-end: 13;
        grid-row-start: 2;
        grid-row-end: 6;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }
}

@media screen and (min-width: 1200px) {
    
}

@media screen and (min-width: 1400px) {
    
}




.fill-height {
    flex-grow: 1;
    width: 100%;
}

.main-header {
    background-color: #222831;
}

.main-footer {
    background-color: #393e46;
}

.content-container {
    display: flex;
    align-content: center;
    justify-content: center;
}

body {
    background-color: #222831;
}

.text-mov-theme {
    color: #ffc93c;
}

.bg-mov-theme-dark {
    background-color: #393e46;
}
.bg-mov-theme-yellow {
    background-color: #ffc93c;
}

.movie-card {
    position: relative;
}

.w-48 {
    width: 48% !important;
}

.w-45 {
    width: 45% !important;
}

.w-60 {
    width: 60% !important;
}

.card-img-top {
    width: 100%;
    aspect-ratio: 0.67 / 1;
    object-fit: cover;
}

.homepage-card {
    background-color: #f8f9fa;
}

.homepage-card:hover {
    background-color: #007bff;
    color: white;
}

.poster-box {
    width: 6rem;
    height: 100%;
}

.poster-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-content {
    background: linear-gradient(160deg, #222831, #393e46), linear-gradient(220deg, #222831, #393e46);
    /*background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%), linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%), linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);*/
}

.btn-recommend:hover {
    background-color: #007bff;
    border-color: #007bff;
}

.detail-page-actor-image {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 50%;
}